{% extends "base.html" %}
{% block content %}

    <div class="container">
        <div class="col-md-4">
            <h4>添加出版社信息</h4>
            <form action="/addpublisher/" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="publisher">出版社名称</label>
                    <input type="text" class="form-control" id="publisher" name="name"
                           placeholder="请输入要添加的出版社名称" value="{{ name }}" style="margin-bottom: 5px;">
                    <span class="label label-danger">{{ status }}</span>
                </div>
                <div class="form-group">
                    <label for="">city</label>
                    <input type="text" class="form-control" name="city" value="{{ city }}">
                </div>
                <div class="form-group">
                    <label for="">email</label>
                    <input type="email" class="form-control" name="email" value="{{ email }}">
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">提交</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}